html{
    background: url("/i/gradient.png") repeat-x #c2c2c2;
}
html, body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    padding:0;
    margin:0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover,
.active{
    color: red;
}
a.inactive{
    color:#999;
}
.main{
    width:100%
}
.container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

/*Head*/
.head{
    text-transform: uppercase;
    margin-top: 4.5em;
}
.head .menu{
    list-style:none;
    padding:0;
    margin:1em 0 0
}
.head .menu li{
    display: inline;
    font-size: 1.85em;
    margin: 0 1em;
}
.head .menu li a{
    font-weight: bold;
}
.head h1{
    font-size: 7em;
    font-weight: normal;
    margin:0;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    font-family: "Times New Roman", Arial, sans-serif;
}
.head h1 span{
    color:red;
}

/*Body*/
.body .tags{
    margin: 1.5em auto 0;
    width: 700px;
}
.body .tags a{
    font-size: 0.8em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0 0.5em 0.5em;
    display: inline-block;
}
.body .tags a:before{
    content: "#"
}
.gallery{
    width: 1335px;
    margin:1.2em auto 0;
}
.gallery .artwork{
    display: block;
    float: left;
    margin: 10px;
}
.body .gallery{
    margin:0.5em 0 0
}
.body .gallery a{
    display: inline-block;
    margin: 0 1em 1em;
}
.body .butterfly{
    background: url("/i/butterfly.gif") 0 0 no-repeat;
    height: 144px;
    margin: 2em auto 15em;
    width: 161px;
}
.body h2{
    font-size: 2em;
    font-weight: normal;
    margin: 2em 0 0;
    text-transform: uppercase;
}
.body h3{
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0 0;
}
.body h4{
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0 0;
    text-transform: lowercase;
}
.social,
.social_i{
    margin: 1em 0 2em;
    padding: 0;
}
.social_i{
    position: absolute;
    top: 0;
    left: -110px;
}
.social li,
.social_i li{
    display: inline;
    margin: 1em;
}
.social li a,
.social_i li a{
    background: url("/i/social.gif") 0 0 no-repeat;
    display: inline-block;
    height: 50px;
    width: 49px;
}
.social_i li a{
    background: url("/i/social_i.gif") 0 0 no-repeat;
}
.social li a.fb,
.social_i li a.fb{
    background-position: 0 0;
}
.social li a.vk,
.social_i li a.vk{
    background-position: -49px 0;
    width: 48px;
}
.social li a.in,
.social_i li a.in{
    background-position: -97px 0;
    height: 51px;
    width: 48px;
}
.social li a.tb,
.social_i li a.tb{
    background-position: -145px 0;
    height: 52px;
    width: 48px;
}
.social li a.tw,
.social_i li a.tw{
    background-position: -193px 0;
    height: 52px;
    width: 48px;
}
.social li a.fb:hover,
.social_i li a.fb:hover{
    background-position: 0 -50px;
}
.social li a.vk:hover,
.social_i li a.vk:hover{
    background-position: -49px -50px;
}
.social li a.in:hover,
.social_i li a.in:hover{
    background-position: -97px -50px;
}
.social li a.tb:hover,
.social_i li a.tb:hover{
    background-position: -145px -50px;
}
.social li a.tw:hover{
    background-position: -193px -51px;
}
.social_i li a.tw:hover{
    background-position: -193px -50px;
}
.body .form{
    margin: 0 0 3em;
}
.body .form input,
.body .form textarea{
    border: 1px solid black;
    display: block;
    font-family:  Arial, sans-serif;
    height: 2em;
    margin: 0.5em auto;
    padding: 0.2em 0 0.2em 0.5em;
    width: 65%;
}
.body .form textarea{
    height: 5em;
}
.body .form .submit{
    background: black;
    color: white;
    cursor: pointer;
    padding: 0;
    right: 0;
    text-align: center;
    width: 4em;
}
.body .form label{
    display: inline-block;
    text-align: left;
}.body .form label input{
     display: inline-block;
     height: 10px;
     width: 15px;
     margin: 2px 0 0 10px;
 }
/*Foot*/
.foot{
    color:#999;
    clear:both;
    /*margin:1em 0 0*/
}

.admin .gallery{

}
.admin .gallery .artwork{
    float: left;
    margin: 0 10px;
    display: block;
}
.admin .gallery .art{
    display: block;
}
.admin .gallery .artwork .delete{
    background: none repeat scroll 0 0 white;
    color: black;
    height: 20px;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 13px;
}
.admin .gallery .artwork .delete:hover{
    color: red;
}
.admin ul{
    list-style-type: none;
}